* {
    margin: 0;
    color: rgb(62, 70, 72);
}

.todolist {
    padding: 20px;
    margin: 30px 50px 20px;
    background-color: white;
}

.add-todo {
    margin: 0 50px;
}

button {
    background-color: rgb(142, 244, 255);
    border: none;

    padding: 5px 15px;
    margin: 0 5px 0 5px;
    border-radius: 20px;
}
